{% extends 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">

{% block title %} Homepage {% endblock %}

{% block carousel %}
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
         <div class="item active">
          <img class="carousel-img" src="{% static 'polls/images/angryface.jpg'%}" 
          			alt="First slide">
            <div class="carousel-caption">
              <h1 class="pull-left"> Watch us grow!! </h1>
              <p class="move-up pull-right">See our photo gallery</p>
            </div>  
          </div>
         <div class="item">
          <img class="carousel-img" src="{% static 'polls/images/sea.jpg'%}" 
           			alt="Second slide">
          <div class="carousel-caption">
              <h1 class="pull-left"> Yes, we're cute! </h1>
              <p class="pull-right">Get to know us and take a quiz</p>
          </div>
         </div>
         <div class="item">
          <img class="carousel-img" src="{% static 'polls/images/laughing.jpg'%}" 
          			alt="Third slide">   
          <div class="carousel-caption">
              <h1 class="pull-left"> See our stories! </h1>
              <p class="pull-right">Take a peek at our blog</p>
          </div>      
         </div>
      </div>
   

      <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span></a>
    {% endblock %}

      
    {% block options %}
      <!-- Three columns of text below the carousel -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'polls/images/sombraros.jpg' %}" 
               alt="Photo Gallery">
          <h2>Photo Gallery</h2>
          <p> Watch us grow through the eyes our family. It's gets better
          once we can crawl, walk, and talk! </p>
          <p><a class="btn btn-default" href="#gallery"> View Gallery </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-square" src="{% static 'polls/images/afro.jpg' %}"
               alt="Pop Quiz">
          <h2>Quiz Time</h2>
          <p>Get to know us. Can you tell us apart? And have fun making predictions on who will walk or talk first, our first words, or personality quirks. We will let you know if you are correct.</p>
          <p><a class="btn btn-default" href="#quiz"> See More </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static 'polls/images/snorkel.jpg' %}" 
               alt="Blog">
          <h2>Twin Blog</h2>
          <p>Hear stories from our mom, aunts/uncles, and grandparents. We can't 
          wait to tell our own! </p>
          <p><a class="btn btn-default" href="#blog"> Storytime </a></p>
        </div><!-- /.col-lg-4 -->
    {% endblock%}

    {%block featurette %}
     <a name="gallery"></a>
     <div id="featurette" class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Photo Gallery</h2>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" 
               src="{% static 'polls/images/hands.jpg' %}" 
               alt="Photo Album">
        </div>
      </div>

      <a name="quiz"></a>
      <hr class="featurette-divider"> 

      <div class="row featurette"> 
        <div class="col-md-5">
          <div class="nav-bar">
          <div class="well">
          {% if latest_question_list %}
            <ul class="nav-list">
              <p class="nav-header">Quizzes</p>  
              {% for question in latest_question_list %}
              <li><a href='{%url 'polls:details' question.id %}'>
              <span class="glyphicon glyphicon-hand-right"></span>
              {{question.question_text}} </a></li>
              {% endfor %}
              <li><a href="{% url 'guess' %}">
              <span class="glyphicon glyphicon-hand-right"></span>
              Can you tell us apart? </a></li>
            </ul>
          {% else %}
              <p> No quizzes are available. </p>
          {% endif %}        
          </div>
          </div> 
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's quiz time.! <span class="text-muted">Test yourself.</span></h2>
        </div>
      </div> 

      <a name="blog"></a>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">We love stories! <span class="text-muted">
            What are they going to say today?!!
          </span></h2>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" 
               src="{% static 'polls/images/sleepy.jpg' %}" 
               alt="Storytime"> Shhhhh. I wanna hear...
        </div>
      </div>

      <hr class="featurette-divider">

      {% endblock %}

